<<<<<<< Updated upstream
html {
	
}
body {
	margin: 0px;
	background-color: #f2f2f2;
	height:90%;
	
}
.logo {
	width: 100px;
	height: 100px;
	float: left;
}
.header {
	border-bottom: 2px black solid;
	padding-bottom: 10px;
	width:100%;
	float:left;
	min-width: 960px;
}
h2 {
	float: left;
	padding-left:20px;
	padding-top:10px;
	letter-spacing: 2px;
}
.admin{
	float:right;
	padding-top:20px;
	padding-right:40px;

}
.logout{
	float:right;
	padding-top:10px;
}
.author{
	border-bottom: 2px black solid;
	float:left;
	text-align: center;
	width:100%;
	margin-top:0px;
	min-width: 1400px;
}
h3{
	margin:5px;
}
.left{
	width:240px;
	
	float:left;
	padding-bottom:20%;
	border-right:2px black solid;
}
button{
	width:240px;
	height:100px;
	background-color:#99c049;
	border-color:#99c049;
}
.btn{
	color:white;
	font-size:20px;
}
=======
html {
	
}
body {
	margin: 0px;
	background-color: #f2f2f2;
	height:90%;
	
}
.logo {
	width: 100px;
	height: 100px;
	float: left;
}
.header {
	border-bottom: 2px black solid;
	padding-bottom: 10px;
	width:100%;
	float:left;
	min-width: 960px;
}
h2 {
	float: left;
	padding-left:20px;
	padding-top:10px;
	letter-spacing: 2px;
}
.admin{
	float:right;
	padding-top:20px;
	padding-right:40px;

}
.logout{
	float:right;
	padding-top:10px;
}
.author{
	border-bottom: 2px black solid;
	float:left;
	text-align: center;
	width:100%;
	margin-top:0px;
	min-width: 1400px;
}
h3{
	margin:5px;
}
.left{
	width:240px;
	
	float:left;
	padding-bottom:20%;
	border-right:2px black solid;
}
button{
	width:240px;
	height:100px;
	background-color:#99c049;
	border-color:#99c049;
}
.btn{
	color:white;
	font-size:20px;
}
>>>>>>> Stashed changes
